*{
    text-decoration: none;
}

body{
    background-image: url(images/house1.png);
    background-color: rgba(0, 0, 0, 0.1);   
    
  }
 
  .topnav{
    padding: 18px;
    list-style-type: none;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .topbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }
  

.topbar ul li{
   display: inline-block;
    margin-left: 30px;
    margin-top: 80px;
    font-size: 30px;
        
}

.logo{
    width: 180px;
}

.logocontainer{
    background-color: aqua;
    display: flex;
    color: blue;
}
  
  
.bodynav{
    /*padding-top: 40px;*/
    display: flex;
}

.bookingpage{
    display: flex;
    background-color: rgba(0, 0, 0, 0.85);
    color: #FFF;
    
    
}

.bookingintro{
    padding-left: 30px;
}

.navigationpane{
    flex: 0, 0, auto;
    background-color: rgba(0, 0, 0, 0.742);
    color: #FFF;
    
    
}

.navigationpane ul li{
    display: list-item;
    list-style-type: none;
    width: 200px;
    line-height: 50px;
    color: #FFF;
}

.bodylink{
    padding: o;
    margin: o;
}


.bodylink li{
    margin-top: 10px;
    width: 39px;
    color: #FFF;
}

.bodylink li a{
    color: #FFF;
}

.bookingform{
    
}

p{
    line-height: 30px;
}

.footer {
    background-color: rgb(9, 15, 20);
    color: white;
    }
    
    .footertag {
    display: flex;
    /* justify-content: center;*/
    align-items: center;
    padding: 20px;
    }

.phone img{
    width: 30px;
}
      

    .footertag div {
        display: flex;
        align-items: center;
      }
      
    .footertag h2 {
        margin-right: 30px;
      }
      
    .social-media div {
        margin-right: 30px;
        margin-left: 100px;
      }
      
    .social-media img {
        width: 25px;
        height: 25px;
      }