*{
    text-decoration: none;
  }

  html {
    scroll-behavior: smooth;
  }

.topnav{
    padding: 18px;
    list-style-type: none;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .topbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }
  

  .topbar ul li{
    display: inline-block;
    margin-left: 10px;
    margin-top: 80px;
    font-size: 30px;
    border: 1px solid rgba(0, 0, 255, 0.527);
    background-color: blanchedalmond;
  }

.logo{
    width: 180px;
}

.logocontainer{
    background-color: aqua;
    display: flex;
}


body{
    
    background-color: limegreen;
    margin: 1px;
   
}

.container{
    background-color: rgba(0, 0, 0, 0.7); 
    color: #ffffffea;
    margin-top: 0px;
    padding: 20px 20px 0 20px;
    
}

.ourApartments{
    
}



.apartmentsmod{

}

.sunshine1{
    display: flex;
    align-items: center;
    
}

.imagescontainer {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }
  
  .main1 {
    order: 1; /* Set the order to 1 to make it appear first */
    
  }
  
  .others1 {
    display: flex;
    order: 2; /* Set the order to 2 to make it appear second */
    max-width: 50%;
    gap: 10px;
    
}

.others1 ul li{
    text-align: center;
    height: 30px;
    color: red;
    
}
  
  .others img{
    width: 30px;
  }



.others1{
    display: flex;
}


.footer {
  background-color: rgb(9, 15, 20);
  color: white;
  }
  
  .footertag {
  display: flex;
  /* justify-content: center;*/
  align-items: center;
  padding: 20px;
  }

.phone img{
  width: 30px;
}
    

  .footertag div {
      display: flex;
      align-items: center;
    }
    
  .footertag h2 {
      margin-right: 30px;
    }
    
  .social-media div {
      margin-right: 30px;
      margin-left: 100px;
    }
    
  .social-media img {
      width: 25px;
      height: 25px;
    }