*{
    text-decoration: none;
  }

  body{
    background-image: url(images/house1.png);
    background-color: rgba(0, 0, 0, 0.1);   
    
  }


p{
    line-height: 30px;
    color: #ffffffb9;
    padding-left: 18px;
    padding-right: 18px;
}
  
.topnav{
    padding: 18px;
    background-color: aqua;
    list-style-type: none;
  }
  

.topbar ul li{
    display: inline-block;
    margin-right: 30px;
}
  
  
.bodynav{
    /*padding-top: 40px;*/
    display: flex;
}

.navigationpane{
    flex: 0, 0, auto;
    background-color: rgba(0, 0, 0, 0.842);
    color: #FFF;
    
    
}

.navigationpane ul li{
    display: list-item;
    list-style-type: none;
    width: 200px;
    line-height: 50px;
    color: #FFF;
}

.bodylink{
    padding: o;
    margin: o;
}

.bodylink li{
    margin-top: 10px;
    width: 39px;
    color: #FFF;
}

.bodylink li a{
    color: #FFF;
}

.content{
    background-color: rgba(0, 0, 0, 0.7);
    width: 900px;
    padding-left: 30px;


}

.content img{
    width: 200px;
    margin-right: 8px;
    
}

.bungalows img{
    width: 200px;
    
}

.maisonette img{
    width: 200px;
}


h1{ color: #FFF;}

div a h2{
    color: #FFF;
}

div div h2 a{
    color: #FFF;
}

.ourmodels{
    background-color: rgba(0, 0, 0, 0.705);
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}

.ourmodels img{
    width: 300px;}

.footer {
    background-color: rgba(61, 47, 47, 0.856);
    color: white;
    }
    
    .footertag {
    display: flex;
    /* justify-content: center;*/
    align-items: center;
    padding: 20px;
    }

.phone img{
    width: 30px;
}
      

    .footertag div {
        display: flex;
        align-items: center;
      }
      
    .footertag h2 {
        margin-right: 30px;
      }
      
    .social-media div {
        margin-right: 30px;
        margin-left: 100px;
      }
      
    .social-media img {
        width: 25px;
        height: 25px;
      }
      






